// 修复Fancybox的ToolBar中图标遮挡了点击事件的bug
// .fancybox__toolbar button > svg {
// 	// pointer-events: none;
// 	z-index: -1;
// }
// .fancybox__toolbar .fancybox__infobar:not(:first-child):not(:last-child) {
// 	background: unset;
// }

// .fancybox__content:has(.fancybox__iframe) {
// 	padding: unset;
// }

// .f-thumbs__slide {
// 	display: unset !important;
// }

// .fancybox__html5video {
// 	display: block !important;
// }

// .web-img-collector__container {
// 	.f-button {
// 		background: unset;
// 	}
// }
.fancybox__dialog {
	.has-iframe .f-html {
		background: unset;
		padding: 0;
		width: 95%;
		height: 95%;
	}
}
