@use "./theme.scss" as *;

/** 亮色主题 */
$color: getTheme(light, color);

/* 暗黑主题 */
.resource-extractor[data-theme="dark"] {
	$color: getTheme(dark, color);
}

.resource-extractor {
	.base-img__error-img,
	.base-video__error-img {
		svg {
			fill: $color;
		}
	}
}
