li,
button,
fieldset,
input,
select,
textarea {
	margin: unset;
}
button {
	box-sizing: border-box;
	min-height: auto;
	overflow: hidden;
	i {
		top: unset;
	}
}

img.fancybox-image {
	border: unset;
}

.base-img__wrap img {
	border-radius: unset;
}

.f-thumbs__slide__button {
	--clip-path: none !important;
}
