// 颜色自定义
.resource-extractor,
.re-popper,
.re-message,
.re-notification {
	--re-color-primary: #3a7afe;
	--re-color-danger: #f44336;
	--re-color-success: #00c48f;
	--re-color-warning: #ff9f00;
	// --re-color-info: #00afef;
}

.re-popper,
.re-message,
.re-notification {
	z-index: 2147483647 !important;
}

[id*="re-popper-container"] span {
	line-height: unset;
}

.resource-extractor .re-drawer__body {
	padding: unset;
}

.resource-extractor .re-badge__content {
	border: unset;
}

.resource-extractor .re-select__input {
	border: unset;
}

.resource-extractor .re-button-group {
	display: flex;
}
