// 颜色自定义
.web-img-collector__container,
.wic2-popper,
.wic2-message,
.wic2-notification {
	--wic2-color-primary: #3a7afe;
	--wic2-color-danger: #f44336;
	--wic2-color-success: #00c48f;
	--wic2-color-warning: #ff9f00;
	// --wic2-color-info: #00afef;
}

.wic2-popper,
.wic2-message,
.wic2-notification {
	z-index: 2147483647 !important;
}


[id*="wic2-popper-container"] span {
	line-height: unset;
}

.web-img-collector__container .wic2-drawer__body {
	padding: unset;
}

.web-img-collector__container .wic2-badge__content {
	border: unset;
}

.web-img-collector__container .wic2-select__input {
	border: unset;
}

.web-img-collector__container .wic2-button-group {
	display: flex;
}