*,
::before,
::after {
	background-repeat: unset;
	box-sizing: unset;
}

.resource-extractor {
	*,
	::before,
	::after {
		background-repeat: no-repeat;
		box-sizing: inherit;
	}
}

html,
body {
	height: unset;
}
